<!DOCTYPE html>
<html lang="en">
<head>
    <title>SignUp</title>
</head>
<body>
    <div class="container">
        <h1>Sign Up</h1>
        <form method="post" action="/user">
            <label for="name">
                Name:
                <input type="text" name="name" required />
            </label>
            <label for="email">
                Email:
                <input type="text" name="email" required />
            </label>
            <label for="password">
                Password:
                <input type="text" name="password" required />
            </label>
            <button type="submit">Sign Up</button>
        </form>
    </div>
</body>
</html>